#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 4rem;
  position: absolute;
  left: 2em;
  top: 2em
}
.unspan {
  grid-column: span 1;
}

.content{
  width: 95%;
  margin-bottom: 3em;
}
