#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
}
.unspan {
  grid-column: span 1;
}
