@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.content {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(5,1fr);
  border: 1px solid black;
}

.content-item{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
   align-items: flex-start; 
  padding: 10px;
  padding-inline: 2em;
  gap: 1em;
                  
}


.span-5{
  grid-column: span 5
}

.span-2{
  grid-column: span 2
}

.span-3{
  grid-column: span 3
}

.span-4{
  grid-column: span 4
}

p{
  text-align: left;;
}


.name{
  font-weight: 400;
  font-size: 42px;
}

.position{
  font-weight: 400;
  font-size: 64px;
}


.title{
  font-weight: 400;
  font-size: 32px;
}

