* {
    margin: 0;
    padding: 0;
    --width: 32em;
}


.dropdown {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width);
    border-radius: 0.5em;
    margin: 1em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    font-size: 22px;
}

.animate-height {
    overflow: hidden;
    transition: height 0.5s ease;
    position: relative;


}

.dropdown-button>p,
.dropdown-button>svg {
    margin-inline: 1em;
}

.dropdown-button svg {
    width: 2em;
    height: 4em;
    transition: transform 0.3s ease;
    ;
}

.dropdown-button:focus svg {
    transform: rotate(180deg);
}

.dropdown-button:hover {
    background-color: #f0f0f0;
}

button{
    margin-bottom: 2em;
}

.dropdown-content {
    width: 100%;
    position: relative;
}

.grid-container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.dropdown-form-item {
    padding: 1em;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.5em;
    margin: 0.5em;
    grid-column: span 2;
    position: relative;
    display: flex;
    justify-content: space-between;
}



.form-control {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #333;
}

.form-label {
    position: absolute;
    left: 1.3em;
    top: 1em;
    color: #666;
    transition: all 0.3s ease;
    pointer-events: none;
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
    top: -10px;
    font-size: 12px;
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

.menu-primary-enter {
    position: relative;
    transform: translateY(-110%);
}

.menu-primary-enter-active {
    transform: translateY(0%);
    transition: all 500ms ease;
}

.menu-primary-exit {
    overflow: hidden;
    position: relative;
}

.menu-primary-exit-active {
    transform: translateY(-110%);
    transition: all 500ms ease;
}

.menu-secondary-enter {
    transform: translateY(110%);
}

.menu-secondary-enter-done {

    transform: translateY(0%);
    transition: all 500ms ease;
}

.menu-secondary-exit {
    transform: translateY(110%);
    transition: all 500ms ease;
}

.menu-secondary-exit-done {

    transform: translateY(110%);
    transition: all 500ms ease;
}

.dropdown-list-container {
    grid-template-columns: repeat(1, 1fr);
}

.dropdown-list-item {
    grid-template-columns: span 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 4em;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ffffff00;
}

