* {
    margin: 0;
    padding: 0;
    --width: 32em;
}


.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width);
    border-radius: 0.5em;
    margin: 1em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    font-size: 22px;
}
.dropdown-button > p, .dropdown-button > svg {
    margin-inline: 1em;
}

.dropdown-button svg {
    width: 2em;
    height: 4em;
    transition: transform 0.3s ease; ;
}

.dropdown-button:focus svg {
    transform: rotate(180deg);
}
.dropdown-button:hover {
    background-color: #f0f0f0;
}


.dropdown-content {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.dropdown-form-item {
    padding: 1em;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    grid-column: span 2;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.unspan {
    grid-column: span 1;
}


.form-control {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #333;
}

.form-label {
    position: absolute;
    left: 1.3em;
    top: 1em;
    color: #666;
    transition: all 0.3s ease;
    pointer-events: none;
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
    top: -10px;
    font-size: 12px;
    color: #333;
}

.button-container {
    display: flex;
    gap: 1em;
    
}

